$primary-color: #135C61,
$secondary-color: #0B0C0C,
$background-color: rgba(221,221,218,0.8),
$danger-color: rgb(237,79,50),
$warning-color: rgb(255,169,0),
$boder-default: 1px solid $primary-color,
$default-box-shadow: 1px 1px 0.5px 1px #888888
$default-font: 'Courier New, Courier, monospace'